<div class="mt-5 p-30" *ngIf="!showLoader()">
    <div class="bg-dark text-light p-3 opacity" *ngIf="status.responseObjects?.length === 1">
        <p><b>URL: </b> <a href="{{ getUrl(status.responseObjects[0].id)  }}"> {{ getUrl(status.responseObjects[0].id) }}</a>  </p>
        <p><b>Email status: </b> {{ getEmailNotification(status.responseObjects[0])}} </p>
    </div>

    <div *ngIf="status.responseObjects?.length >= 2" class="bg-dark text-light table-container">
        <h3 class="text-center p-2"> You sent {{ status.responseObjects.length}} messages</h3>
        <table class="table table-dark table-hover opacity">
          <thead>
            <tr>
              <th  scope="col" class="text-center"><h3>Number</h3></th>
              <th  scope="col" class="text-center"><h3> URL </h3></th>
              <th  scope="col" class="text-center"><h3>Email notification</h3></th>
            </tr>
          </thead>
          <tbody class="opacity">
          <tr *ngFor="let response of status.responseObjects; let i = index">
            <td class="text-center">{{ response.order }}</td>
            <td class="text-center"> <a href="{{ getUrl(response.id)  }}"> {{ getUrl(response.id) }}</a></td>
            <td class="text-center">{{ getEmailNotification(response) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <button type="button" class="btn btn-primary p-3" (click)="sendAnotherMessage()"> Send another message</button>
    </div>
</div>

<div class="mt-5 p-30" *ngIf="showLoader()">
  <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <mat-progress-spinner diameter="200" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>