<div class="mt-5 p-3">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" >  
        <div class="form-group">
            <label for="emailRecipient" class="font-weight-bold font-size">Email recipient (optional):</label>
            <input class="form-control bg-dark text-light opacity p-4" type="email" id="emailRecipient" formControlName="emailRecipient">
        </div>
    
        <div class="pt-4 pb-3 form-group">
            <label for="messageBody" class="font-weight-bold font-size">Messge:</label>
            <textarea class="form-control bg-dark text-light opacity p-4" name="messageBody" id="messageBody" cols="30" rows="10" formControlName="messageBody" placeholder="Type your message here"></textarea>    
        </div>
    
        <div class="d-flex justify-content-sm-around">
            <button type="button" class="btn btn-primary p-3" (click)="clearAllFields()"> Clear all fields</button>
            <button type="submit" class="btn btn-primary p-3" [disabled]="messageForm.invalid">Send message</button>
        </div>
    </form>
</div>