<div class="mt-5 p-30">
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center w-100 h-100">
        <mat-progress-spinner diameter="200" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="opacity bg-dark text-light p-3 scroll-container" *ngIf="message?.id">
        <div class="col text-center w-100">
            <h2>Caution!</h2>
            <p>The below message is no longer stored in database. This is the first and last time when you see it</p>
        </div>
        <div class="col w-100">
            <p><b>Message:</b></p>
            <p>{{ message.messageBody }}</p>
            <p><b>Meeting</b></p>
            <p>Date: {{ message.meetingDate || notSpecified }}</p>
            <p>City: {{ message.meetingCity || notSpecified }}</p>
            <p *ngIf="message.minTemp && message.maxTemp else tempNotSet">
                Expected temperature: {{ message.minTemp }}&deg;C - {{ message.maxTemp }}&deg;C 
            </p>
            <ng-template #tempNotSet>
                <p>Expected temperature: {{ notSpecified }} </p> 
            </ng-template>
        </div>
    </div>

    <div class="col text-center w-100" *ngIf="!message?.id && !isLoading">
        <h2>Selected message has been already read and is erased from database</h2>
    </div>
</div>